#
# Copyright (C) 2024+ Thaxtin, released under GNU AGPL v3 license: https://github.com/xSparky911x/mod-gathering-experience/blob/master/LICENSE
#

[worldserver]

###################################################################################################
#   GATHERING EXPERIENCE MODULE
###################################################################################################

# Enable the module? (1: true | 0: false)
GatheringExperience.Enable = 1

# Announce the module on player login? (1: true | 0: false)
GatheringExperience.Announce = 1